.main {
  height: 100%;
  font-family: Mulish-regular;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.username {
  margin: 5px;
  background-color: #5c5200;
  text-align: center;
}

.linebreak {
  background-color: white;
  width: 100%;
  height: 1px;
  margin: 5px 0;
}

.dropzone {
  background-color: #324352;
  border: 1px solid white;
  border-style: dashed;
  padding: 1vh;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

.dropzone:hover {
  cursor: pointer;
}

.dropzone span {
  color: #cccccc;
}

.pdfElement {
  display: flex;
  align-items: center;
  margin: 1vh 0;
  background-color: #5c5200;
}

/* .pdfElement:hover {
  cursor: pointer;
  background-color: #5c5200;
  border-radius: 15px;
} */

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdfName {
  width: 80%;
}

.pdflist {
  /* height: 90%; */
  /* overflow: auto; */
}

.chatHistoryTitle {
  font-size: 12px;
  font-family: Mulish-bold;
  color: white;
}

.chatList {
  margin-left: 5px;
  overflow-y: auto;
  height: 80vh;
}

.chat {
  padding: 2px 2px;
  margin: 2px 0;
  display: flex;
}

.chatItem {
  padding-top: 5px;
}

.chatItem:hover {
  border-radius: 15px;
  cursor: pointer;
  background-color: #5c5200;
}

.convDate {
  font-size: 10px;
  font-family: Mulish-bold;
}

.logout {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 80%;
  text-align: center;
  background-color: #5c5200;
  border-radius: 15px;
}

.logout:hover {
  opacity: 0.8;
}

.logo {
  min-width: 150px;
  background-color: white;
  height: fit-content;
  width: 100%;
  margin-top: 1vh;
  padding: 1vh;
}

@media only screen and (max-width: 600px) {
  .username {
    margin-top: 55px;
  }
  .chatList {
    height: 60vh;
  }
  .logo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.sideDrawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.open {
  transform: translateX(0);
}

.burgerIcon {
  width: 100%;
  text-align: center;
}

.burgerIcon img {
  cursor: pointer;
}

.mobileView {
  display: none;
}

@media (max-width: 767px) {
  .main {
    background-color: #b99825;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .dropzone {
    width: 50%;
    margin: auto;
    margin-top: 10%;
  }
  .dropzone p {
    font-size: 3rem;
  }
  .burgerIcon {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .pdflist {
    margin-top: 1vh;
  }
  .imageContainer {
    width: 20% !important;
  }
}

@media only screen and (max-height: 555px){
  .chatList{
    height: 48vh;
  }
}
