.main {
  color: white;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2.5vw;
  background: #FFFEE7;  

}

.noPdf {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}